.home_bg{
    background-image: url("../img/home_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aux_bg{
    background-image: url("../img/grid_lines.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_skills{
    background-image: url("../img/bg-skill.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.social_box{
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 50%;
}


.contact_box{
    width:36px;
    height: 36px;
    background-color: #F8EDED;
    border-radius: 50%;
}


@font-face {
    font-family: headerfont;
    src: url('../font/georgia.ttf');

    font-family: bodyfont;
    src: url('../font/dmsans/DMSans-Regular.ttf');
}


.header_font{
    font-family: headerfont;
}

.body_font{
    font-family: bodyfont;
}

.__spin{
    transition: ease-in-out;
    animation: SPIN 16s infinite;
}
.__spin:hover{
    animation: none;
}

@keyframes SPIN{
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}